.dynamic-background-gradient {
    background: linear-gradient(270deg, #FBF2C0, #C06E52);
    background-size: 400% 400%;
    animation: DynamicGradient 30s ease infinite;
}

@keyframes DynamicGradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}